<?xml version="1.0" encoding="utf-8"?>
<configuration>

	<connectionStrings>
		<add name="DefaultConnection" connectionString="Server=127.0.0.1,3306;Database=frc_dev;Persist Security Info=False;User ID=root;Password=&amp;;MultipleActiveResultSets=False;Encrypt=True;TrustServerCertificate=False;Connection Timeout=30;" />
	</connectionStrings>
  <!-- To customize the asp.net core module uncomment and edit the following section. 
  For more info see https://go.microsoft.com/fwlink/?linkid=838655 -->

	<system.web>
		<compilation debug="true">
			<assemblies>
				<add assembly="Microsoft.Web.Mvc, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null"/>
			</assemblies>
		</compilation>

		<pages>
			<namespaces>
				<add namespace="Microsoft.Web.Mvc"/>
			</namespaces>
		</pages>
	</system.web>


</configuration>