<nav class="p-4" style="--bs-breadcrumb-divider: url(&#34;data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='8' height='8'%3E%3Cpath d='M2.5 0L1 1.5 3.5 4 1 6.5 2.5 8l4-4-4-4z' fill='%236c757d'/%3E%3C/svg%3E&#34;);" aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="@Url.Action("Index", "Home")">Home</a></li>
        @if (ViewContext.RouteData.Values["controller"].ToString() == "Home" && ViewContext.RouteData.Values["action"].ToString() == "About")
        {
            <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("About", "Home")">About</a></li>
        }
        @if (ViewContext.RouteData.Values["controller"].ToString() == "Event")
        {
            <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("Event", "Event")">Events</a></li>
        }
        @if (ViewContext.RouteData.Values["controller"].ToString() == "EventFE")
        {
            <li class="breadcrumb-item active" aria-current="page"><a href="@Url.Action("Event", "EventFE")">Event</a></li>
        }
    </ol>
</nav>